 
    h2 {
  color:pink;
  text-decoration-line:underline;
   text-shadow: 2px 2px 5px red;
   font-family: "Lucida Console", "Courier New", monospace;
}

body{
  background-color: #FDFD96;
}
    
    h2 {
  color:pink;
  text-decoration-line:underline;
   text-shadow: 2px 2px 5px red;
   font-family: "Lucida Console", "Courier New", monospace;

}
h2:hover {
  font-size:300%;
  text-transform:uppercase;
  text-decoration:wavy underline white;
    font-family: "Times New Roman", Times, serif
}

nav{
  list-style-type: none;
  width:100%;
  background-color:#333;
  position: fixed;
  top: 0;
  left: 0; 
}

li a{
  color: pink;
  text-decoration: none;
  display: block;
  float:left; 
  padding: 20px 50px;
}

li a:hover{ 
background-color: pink;
  color:white;

}


